extends layout 

block formulario
    header
        nav.navbar.navbar-expand-lg.navbar-dark.bg-primary(style='border-radius: 16px !important; margin: 10px 0 0 0')
            .container-fluid
                a.navbar-brand.disabled(href='#') Navbar
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarNavAltMarkup.collapse.navbar-collapse
                    .navbar-nav
                        a.nav-link.active(aria-current='page' href='/') Formulario
                        a.nav-link(href='/productos') Lista

        main(style='display: flex; justify-content: center; align-items: center;')
            .col-lg-6(style='border: 1px solid black; border-radius: 16px; margin: 20px;')
                form(action='/productos' method='post' style='margin: 20px; display: flex; flex-wrap: wrap; justify-content: center; align-items: center;')
                    legend(style='text-align: center;')
                        h2 Agregar Producto
                        label.form-label(for='exampleFormControlInput1') Nombre:
                        input.form-control(type='text' name='name' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default')
                        label.form-label(style='margin-top: 10px;' for='exampleFormControlInput1') Precio:
                        input.form-control(type='number' name='precio' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default')
                        label.form-label(style='margin-top: 10px;' for='exampleFormControlInput1') Url imagen:
                        input.form-control(type='text' name='urlImg' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default')
                        button.btn.btn-primary(type='submit' style='margin-top: 10px;') Enviar