extends layout 

block listaProductos 
    -const arrayProducts = productos
    header
        nav.navbar.navbar-expand-lg.navbar-dark.bg-primary(style='border-radius: 16px !important; margin: 10px 0 0 0')
            .container-fluid
                a.navbar-brand.disabled(href='#') Navbar
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarNavAltMarkup.collapse.navbar-collapse
                    .navbar-nav
                        a.nav-link.active(aria-current='page' href='/') Formulario
                        a.nav-link(href='/productos') Lista

    main(style='display: flex; justify-content: center; align-items: center;')
        section(style='text-align: center;')
            h2 Lista Producto
            #arrayProducts
                if arrayProducts.length>0
                    table.table
                        thead
                            tr
                            th(scope='col') Nombre
                            th(scope='col') Precio
                            th(scope='col') Imagen
                    
                        each prod in arrayProducts
                            tbody(style='line-height: 50px;')
                                td 
                                    != prod.name
                                td 
                                    != prod.precio
                                td  
                                    img(src= prod.urlImg , alt="", style="width:20%")
                else
                    h4="No hay productos"