<div class="col-lg-6" style="border: 1px solid black; border-radius: 16px; margin: 20px;">
    
    <form action='/productos' method="post" style="margin: 20px; display: flex; flex-wrap: wrap; justify-content: center; align-items: center;">

        <legend style="text-align: center;"><h2>Agregar Producto</h2></legend>

        <label for="exampleFormControlInput1" class="form-label">Nombre:</label>
        <input type="text" name="name" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">

        <label style="margin-top: 10px;" for="exampleFormControlInput1" class="form-label">Precio:</label>
        <input type="number" name="precio" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">

        <label style="margin-top: 10px;" for="exampleFormControlInput1" class="form-label">Url imagen:</label>
        <input type="text" name="urlImg" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">

        <button type="submit" style="margin-top: 10px;" class="btn btn-primary">Enviar</button>

    </form>

</div>